<!DOCTYPE html>
<html lang="ja">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

        <title>入力完了 | PUB ChouChou </title>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-sm navbar-light bg-light">
                <a href="/" class="navbar-brand">Home</a>
                
                <!-- 横幅が狭い時に出るハンバーガーボタン -->
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#nav-bar">
                    <span class="navbar-toggler-icon"></span>
                </button>
            
                <!-- メニュー項目 -->
              <div class="collapse navbar-collapse" id="nav-bar">
                <ul class="navbar-nav">
                    <li class="nav-item"><a href="/company" class="nav-link">会社概要</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">ニュース</a></li>
                    <li class="nav-item"><a href="/address" class="nav-link">アクセス</a></li>
                    <li class="nav-item"><a href="/contact" class="nav-link">入力フォーム</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">お問い合わせ</a></li>
                </ul>
              </div>
            </nav>
        </header>
        <div class="container">
            <!--<p>動作確認用: <%= params %></p>-->
            <h1 class="mt-4 pb-4 border-bottom">入力完了</h1>
            <p>ありがとうございます。正常に入力されました。</p>
            <p>ご返答今しばらくお待ちください。</p>
            <table class="table">
                <h4>入力内容</h4>
                <tbody>
                    <tr>
                        <th style="width:30%;">氏名</th>
                        <td><%= ERB::Util.html_escape(params['name']) %></td>
                    </tr>
                    <tr>
                        <th>フリガナ</th>
                        <td><%= ERB::Util.html_escape(params['ruby']) %></td>
                    </tr>
                    <tr>
                        <th>電話番号</th>
                        <td><%= ERB::Util.html_escape(params['phone_number'])%></td>
                    </tr>
                    <tr>
                        <th>メールアドレス</th>
                        <td><%= ERB::Util.html_escape(params['email']) %></td>
                    </tr>
                    
                    <tr>
                        <th>年齢</th>
                        <td><%= ERB::Util.html_escape(params['age']) + '歳' %></td>
                    </tr>
                    <tr>
                        <th>性別</th>
                        <td><%= ERB::Util.html_escape(params['gender']) %></td>
                    </tr>
                    <tr>
                        <th>金額</th>
                        <td><%= ERB::Util.html_escape(params['payment']) + '円' %></td>
                    </tr>
                    <tr>
                        <th>メモ</th>
                        <td><%= ERB::Util.html_escape(params['contact']).gsub(/\r\n|\r|\n/, "<br>") %></td>
                    </tr>
                </tbody>
            </table>
            </table>
            <div class="text-center mb-4">
                <a href="/contact" class="btn btn btn-success">入力画面に戻る</a>
            </div>
        </div>
        <footer class="text-center pt-3 border-top">
            &copy; 2019 SAMPLE Inc.
        </footer>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS, then Font Awesome -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"></script>
    </body>
</html>