<!DOCTYPE html>
<html lang="ja">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

        <title>PUB ChouChou</title>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-sm navbar-light bg-light">
                <a href="/" class="navbar-brand">Home</a>
                
                <!-- 横幅が狭い時に出るハンバーガーボタン -->
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#nav-bar">
                    <span class="navbar-toggler-icon"></span>
                </button>
            
                <!-- メニュー項目 -->
              <div class="collapse navbar-collapse" id="nav-bar">
                <ul class="navbar-nav">
                    <li class="nav-item"><a href="/company" class="nav-link">Company</a></li>
                    <li class="nav-item"><a href="/blog" class="nav-link">Blog</a></li>
                    <li class="nav-item"><a href="/address" class="nav-link">Access</a></li>
                    <li class="nav-item"><a href="/payment" class="nav-link">Payment</a></li>
                    <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
                </ul>
              </div>
            </nav>
        </header>
        <div class="container">
            <h1 class="mt-4 pb-4 border-bottom">売り上げ集計</h1>
            
            <h2>
                <% if @message %>
                    <div class="message"><%= @message %></div>
                <% end %>
            </h2>
            
            <div class="mt-4 row">
                <div class="col-sm-2">
                    <strong>売り上げ計算：</strong>
                </div>
                <div class="col-sm-10">
                    <p>
                        お店の売り上げを集計する為、情報を入力してください。
                    </p>
                    <form action="/payment" method="POST">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">氏名：</label>
                            <div class="col-sm-10">必須
                                <input type="text" class="form-control" name="name" placeholder="日本　太郎" required value="<%=@info.name%>">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">フリガナ：</label>
                            <div class="col-sm-10">必須
                                <input type="text" class="form-control" name="ruby" placeholder="ニホン　タロウ" required value="<%=@info.ruby%>">
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">電話番号：</label>
                            <div class="col-sm-10">必須(半角ハイフンなし)
                                <input type="number" class="form-control" name="phone_number" placeholder="09012345678" required value="<%=@info.phone_number%>">
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">メールアドレス：</label>
                            <div class="col-sm-10">必須
                                <input type="email" class="form-control" name="email" placeholder="sample@chouchou.ne.jp" required value="<%=@info.email%>">
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">年齢：</label>
                            <div class="col-sm-10">
                                <!--<input type="text" class="form-control" name="age" required value="<%=@info.age%>">-->
                                <select name="age" required value="<%=@info.age%>">
                                    <option value="">選択してください</option>
                                    <option value="20歳未満">20歳未満</option>
                                    <option value="20-29歳">20-29歳</option>
                                    <option value="30-39歳">30-39歳</option>
                                    <option value="40-49歳">40-49歳</option>
                                    <option value="50-59歳">50-59歳</option>
                                    <option value="60-69歳">60-69歳</option>
                                    <option value="70-79歳">70-79歳</option>
                                    <option value="80歳以上">80歳以上</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">性別：</label>
                            <div class="col-sm-10">
                                <input id="radio-a" type="radio" name="gender" value="男性" checked><label for="radio-a">男性</label>
                                <input id="radio-b" type="radio" name="gender" value="女性"><label for="radio-b">女性</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">血液型：</label>
                            <div class="col-sm-10">
                                <select name="blood" required value="<%=@info.blood%>">
                                <option value="">選択してください</option>
                                <option value="A">A型</option>
                                <option value="B">B型</option>
                                <option value="O">O型</option>
                                <option value="AB">AB型</option>
                                </select></p>
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">金額：</label>
                            <div class="col-sm-10">(半角数字)
                                <input type="number" class="form-control" name="payment" placeholder="10000" required value="<%=@info.payment%>">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">メモ：</label>
                            <div class="col-sm-10 col-form-label">
                                <textarea class="form-control" name="contact" placeholder="内容を入力してください。" value="<%=@info.contact%>"></textarea>
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <div class="offset-sm-2 col-sm-10">
                                <input type="reset"></input>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="offset-sm-2 col-sm-10">
                                <button type="submit" class="btn btn-success btn-block">内容を送信する</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <footer class="text-center pt-3 pb-3 border-top">
            &copy; 2019 SAMPLE Inc.
        </footer>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS, then Font Awesome -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"></script>
    </body>
</html>